.ant-layout.ant-layout-has-sider > .ant-layout,
.ant-layout.ant-layout-has-sider > .ant-layout-content {
  overflow-x: hidden;
}
.layout-default .ant-layout-content {
  padding-top: 40px;
}
.layout-dashboard .ant-layout-content {
  padding: 0;
  margin: 0 20px 0;
}
.layout-content .ant-layout-content.content-ant {
  padding: 0px !important;
}
section.ant-layout.layout-content .ant-layout-content.content-ant {
  padding: 0px !important;
}
.layout-default .ant-layout-content.p-0 {
  padding: 0px;
}

.ant-card.circlebox {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.mb-24 {
  margin-bottom: 10px;
}

.number span {
  font-weight: 600;
  color: #8c8c8c;
  font-size: 14px;
}
.number h3 {
  font-weight: 700;
  margin-bottom: 10px !important;
  font-size: 30px;
}

.number h3 small {
  font-weight: 600;
  font-size: 14px;
}

.icon-box {
  width: 48px;
  height: 48px;
  background: #008AFB;
  color: #fff;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box span {
  font-size: 24px;
}


.layout-dashboard-rtl .icon-box {
  margin-left: 0px;
  margin-right: auto;
}

.h-full {
  height: 100%;
}
small.redtext {
  color: red;
}
.bnb2 {
  color: #52c41a;
  font-weight: 700;
}
