.card-filter {
    margin-bottom: 18px;

    .collapse-icon {
        cursor: pointer;
    
        svg {
            font-size: 20px;
        }
    }
}


.form-filter {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;

    .ant-form-item {
        flex: 1;
    }

    .ant-picker {
        width: 100%;
    }
}

.filter-button {
    float: right;

    .refresh {
        margin-right: 12px;
    }
}