.account-info{
    .btn-row {
        justify-content: end;

        .detail-btn {
            text-align: end;
        }

        .account-submit-button{
            margin-left: 10px;
        }
    }
}