<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/styles.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="wrapper">
            <form action="/user/newAccount" method="POST">
                <h1>Register</h1>
                <div class="input-box">
                    <div class="form-group floating-label-formgroup controls">
                        <input type="email" class="form-control" placeholder="Email" id="Username" name='email' required>
                        <i class='bx bx-user' ></i>
                    </div>
                </div>
                <div class="input-box">
                    <div class="form-group floating-label-formgroup controls">
                        <input type="password" class="form-control" placeholder="Password" id="Password" name='password' required>
                        <i class='bx bxs-lock' ></i>
                    </div>
                </div>
                <button type="submit" class="btn">Register</button>
            </form>
        </div>
    </body>
</html>