<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Document</title>
</head>
<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

<header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="page-heading">
                  <h1>Login</h1>
                  <span class="subheading">Have questions? I have answers.</span>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container">
      <div class="row">
           <div class="col-lg-8 col-md-10 mx-auto">
            <form action="/user/register" method="POST">
                <div class="control-group">
                      <div class="form-group floating-label-formgroup controls">
                           <label>Email</label>
                          <input type="email" class="form-control" placeholder="Email" id="Username" name='email'>
                      </div>
               </div>
               <div class="control-group">
                  <div class="form-group floating-label-formgroup controls">
                       <label>Password</label>
                      <input type="password" class="form-control" placeholder="Password" id="Password" name='password'>
                  </div>
           </div>
               
           </div>
               <br>
               <div class="form-group" style = "text-align: center">
                  <button type="submit" class="btn btnprimary" id="sendMessageButton" >Register</button>
                 </div>
                 <div style="width:500px;height:180px;">
                    <a href="/auth/register/google">Register with Gmail</a>
                    </div>

  </div>
</main>   
</html>