.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.header-logo {
    font-weight: 800;
    color: white;
}

.input-search {
    width: 30vw;
    border-color: transparent;
    box-shadow: 0 0 0 2px #fff;
    border: none;
}

.header img {
    width: 23px;
    margin-right: 25px;
    margin-top: 11px;
    cursor: pointer;
    color: white;
}

.user-button-header svg {
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-right: 20px;
}