.brand img {
    height: 100px;
  }
  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu-sidebar {
    .ant-menu-item {
      padding-inline: 0;
    }
  }
  
  .menu-item-header {
    font-weight: 700;
  }
  
  .menu-item-box-icon {
    margin-right: 6px;
  }
  .menu-item
  {
    background-color: #f4d03f;
  }
  .menu-sidebar {
    background-color:#f4d03f; 
  }
  
  .darker-item {
    background-color:#f4d03f;
    color: #fff; 
  }
  
  .darker-item:hover {
    background-color: #48c9b0; 
  }
  
  .menu-item-box-icon {
    margin-right: 8px;
  }
  