.revenueContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .revenueTitle {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .statisticInput {
    width: 150px;
    margin-right: 20px;
  }