.home-page {
  padding: 2rem;

  .page-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .statistics-boxes {
    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: #f2f2f2;
      border-radius: 50%;
      margin-bottom: 1rem;
    }

    .icon {
      font-size: 1.5rem;
      color: #333;
    }

    .ant-card {
      text-align: center;
    }

    .ant-card h3 {
      font-size: 1.75rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .ant-card p {
      font-size: 1rem;
      color: #666;
      margin-bottom: 0;
    }
  }

  .statistics-chart {
    margin-top: 2rem;

    .ant-card {
      text-align: center;
    }

    .ant-card h3 {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }
}