.card-list {
    justify-content: space-between;
}

.ant-card-body {
    padding: 20px;
}

.ant-card-meta {
    align-items: center;
}

:where(.css-dev-only-do-not-override-1fviqcj).ant-card .ant-card-meta-avatar {
    padding-inline-end: 0;
}

.ant-card-meta-avatar {
    font-size: 20px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding-inline-end: 0;
}

.ant-card:first-child {
    border: 1px solid #1677FF;

    .ant-card-meta-avatar{
        color: #1677FF;
        border: 1px solid #1677FF;
    }
}

.ant-card:nth-child(2) {
    border: 1px solid red;

    .ant-card-meta-avatar {
       color: red;
       border: 1px solid red;
   }
} 

.ant-card:nth-child(3) {
    border: 1px solid #F2BD27;

    .ant-card-meta-avatar {
        color: #F2BD27;
        border: 1px solid #F2BD27;
    }
    
}

.ant-card:last-child {
    border: 1px solid #00B96B;

    .ant-card-meta-avatar {
        color: #00B96B;
        border: 1px solid #00B96B;
    }
}  

.ant-card-meta-description {
    font-size: 24px;
}

.card-hover {
    transition: box-shadow 0.3s ease-in-out;
}
  
.card-hover:hover {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
}